* {
  font-family: sans-serif;
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 3px;
  padding: 6px;
  max-width: 120px;
}

.buttonSubmit {
  border-radius: 10px;
  background-color: plum;
  margin: 3px;
  padding: 6px;
  max-width: 120px;
  color: black;
  font-weight: bold;
  border: 2px black solid;
}

.buttonSubmit:hover {
  cursor: pointer;
  background-color: pink;
}

.alert {
  color: red;
  font-weight: bold;
  font-style: italic;
}

li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
