.projectCard {
  background-color: var(--secondaryColor);
  padding: 10px;
  overflow: scroll;
  margin: 8px 0px;
  width: 90%;
}

.projectImage {
  width: 180px;
}

.projectsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteModal {
  position: fixed;
  top: 10vh;
  left: 25vh;
  width: 500px;
  max-height: 85vh;
  overflow: scroll;
  background-color: red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 11;
}
